<!DOCTYPE html>
<html>
  <body>
    <form>
      <p>Enter name: <input type="text" name="name"></p>
      <p>Enter breed: <input type="text" name="breed"></p>
      <p>Enter months old: <input type="text" name="months_old"></p>
      <input type="submit" name="Submit">
    </form>
  </body>
</html>
